@model MasterOfEnglish.Models.CategorysAndWordViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="container">
        <div id="loginbox" style="margin-top: 50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel">
                <div class="panel-heading" style="background-color: #2c2c2c; color: white">
                    <div class="panel-title">Wprowdzaź zmiany</div>
                </div>

                <div style="padding-top: 30px" class="panel-body">

                    <div style="display: none" class="alert alert-danger col-sm-12"></div>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Word.PolishWord, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Word.PolishWord, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Word.PolishWord)
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.Word.UserId)
                        @Html.HiddenFor(model => model.Word.WordId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Word.EnglishWord, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Word.EnglishWord, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Word.EnglishWord)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Word.Status, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EnumDropDownListFor(model => model.Word.Status, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Word.Status)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Word.Category, new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.Word.CategoryId, Model.Categorys.Select(x => new SelectListItem { Text = x.Name, Value = x.CategoryId.ToString() }), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Word.CategoryId)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" value="Zapisz zmiany" class="btn btn-default" />
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
}

